APP_NAME="STAGING INSTITUTO POLIANDINO"
APP_ENV=local
APP_KEY=base64:LpC/ouaKJAaF0i/O6yU564EJlcA1M6OTE+bE6mmirTw=
APP_DEBUG=true
APP_URL=https://staging.policentral.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=Superusuario_staging
DB_USERNAME=Superusuario_stagingpoli_us
DB_PASSWORD=Staging_2024*

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=150

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#MAIL_MAILER=smtp
#MAIL_HOST="mail.policentral.com"
#MAIL_PORT=465
#MAIL_USERNAME="info@policentral.com"
#MAIL_PASSWORD="Email_poliandino_2024*_info"
#MAIL_ENCRYPTION=tls
#MAIL_FROM_ADDRESS="info@policentral.com"
#MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST="mail.staging.policentral.com"
MAIL_PORT=465
MAIL_USERNAME="info@staging.policentral.com"
MAIL_PASSWORD="Email_staging_2024*_info"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@staging.policentral.com"
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NOMBRE_EMPRESA="INSTITUTO DE capacitación POLIANDINO CENTRAL S.A.S."
DIRECCION="CRA. 12A BIS No. 22-12 SUR"
NIT="900656857-5"
TELEFONO="6950220 - 8130745 - 4796112"
RESOLUCION_FACT="18031 del 02/11/2017 de la SED Bogotá"
REPRESENTANTE_LEGAL="JAIME manuel NASTAR VALLEJO"
DOCUMENTO_RL="791.685.965"
TELEFONO_RL="310123456"
DIRECTORA="STEPHANY IZQUIERDO OCAMPO"

DESERTADO_ENTRESEMANA=15
DESERTADO_FIN_SEMANA=15

MAX_REGISTROS=300

DIAS_COBRANZA=3
DIAS_REPORTE=33COPIA_CARNET="publiandino@gmail.com"
